.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: red;
}

.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.gridStyle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}
//tablets
@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
//desktops
@media screen and (min-width: 62em) {
  .products--grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
